@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ASP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/icons/bootstrap-icons.css" />
</head>
<body>
    <p></p>
    <div class="p-3">
        <div class="d-flex align-items-center justify-content-center" style="height:400px">
            <div class="bd-highlight border" style="padding:15px; border-radius:10px; width:300px;">
                <form id="loginForm" class="form-group">
                    <label for="emailInput">Email:</label>
                    <input class="form-control" type="text" id="emailInput" name="email"><br>
                    <label for="passwordInput">Password:</label>
                    <input class="form-control" type="password" id="passwordInput" name="password"><br>
                    <input class="form-control btn btn-primary" type="submit" class="btn btn-primary" value="Login">
                </form>
                <a asp-action="SignUp" class="btn btn-secondary">Sign Up</a>
            </div>
        </div>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript">
        $('#loginForm').submit(e => {
            e.preventDefault();

            let data = {
                email: $('#emailInput').val(),
                password: $('#passwordInput').val()
            }

            let domain = window.location.protocol + "//" + window.location.host + "/";

            
            $.post(domain + "User/Login", data, function(returnValue){
                console.log(returnValue);
                if (returnValue.hasOwnProperty('errors')) {
                    var message = "";
                    returnValue.errors.forEach(item => message = message + "\n" + item);
                    alert(message);
                }
            })
                .done(() => { window.location.href = domain + "Home/Index"} )
                .fail(xhr => { 
                    alert(xhr.responseMessage) 
                })
        })
    </script>
</body>